python-telegram-bot==20.3
whisper @ https://github.com/openai/whisper/archive/refs/tags/v20231117.zip
torch==2.1.2 --extra-index-url https://download.pytorch.org/whl/cpu
pandas==2.0.3
openpyxl==3.1.2
python-dotenv==1.0.0
numpy==1.24.3
